In [2]:
from operator import index

import pandas as pd
from pandas import pivot, pivot_table

data = {
    "Name": ['a','v','c'],
    "Age" : [20,19,17]
}

df = pd.DataFrame(data)
df

  Name  Age
0    a   20
1    v   19
2    c   17

In [4]:

invoice = pd.read_excel('ListData (4).xlsx')
# invoice = pd.read_excel('ListData (4).xlsx',usecols=['شماره فاکتور'],squeeze=True)
invoice

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,تامین کننده,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
0,6376,7D2BE4036,1404/02/24,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,492500000,49250000,0,541750000,541750000,NaN,کامپیوتر فرنود,NaN,علیرضا واحدی,دارد,دارد
1,6362,SP154,1404/02/14,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,133000000,0,0,133000000,133000000,NaN,تقی کشاورز(فروشگاه تجهیزات خط رنگ),NaN,علیرضا واحدی,ندارد,ندارد
2,6361,1059,1404/02/23,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,1400000,0,0,1400000,1400000,NaN,کادودیپ الکترونیک,NaN,علیرضا واحدی,ندارد,ندارد
3,6359,6898,1404/02/23,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,18000000,0,0,18000000,18000000,NaN,رجاء الکترونیک,NaN,علیرضا واحدی,ندارد,ندارد
4,6358,352,1404/02/22,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,290000000,0,0,290000000,290000000,NaN,پرچ ابزار ایزدی,NaN,علیرضا واحدی,ندارد,ندارد
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,37,1330,1403/03/12,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,30000000,0,0,30000000,30000000,NaN,کالای برق اشرفی,NaN,سید امیر سینا اردکانی,دارد,دارد
1034,36,24997,1403/03/03,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,287500000,0,0,287500000,287500000,NaN,سدن پلاس,NaN,سید امیر سینا اردکانی,دارد,دارد
1035,35,1834,1403/03/05,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,78000000,0,0,78000000,78000000,NaN,الکتریکی روشنایی,NaN,سید امیر سینا اردکانی,دارد,دارد
1036,34,3132,1403/03/03,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,45000000,0,0,45000000,45000000,NaN,الکتروبینش,NaN,سید امیر سینا اردکانی,دارد,دارد
1037,32,85015,1403/03/05,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,68250000,0,0,68250000,68250000,NaN,یکتا الکترونیک,NaN,سید امیر سینا اردکانی,دارد,دارد

In [47]:
#top 5 
invoice.head()
# -5
invoice.tail()

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,تامین کننده,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
1033,37,1330,1403/03/12,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,30000000,0,0,30000000,30000000,NaN,کالای برق اشرفی,NaN,سید امیر سینا اردکانی,دارد,دارد
1034,36,24997,1403/03/03,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,287500000,0,0,287500000,287500000,NaN,سدن پلاس,NaN,سید امیر سینا اردکانی,دارد,دارد
1035,35,1834,1403/03/05,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,78000000,0,0,78000000,78000000,NaN,الکتریکی روشنایی,NaN,سید امیر سینا اردکانی,دارد,دارد
1036,34,3132,1403/03/03,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,45000000,0,0,45000000,45000000,NaN,الکتروبینش,NaN,سید امیر سینا اردکانی,دارد,دارد
1037,32,85015,1403/03/05,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,68250000,0,0,68250000,68250000,NaN,یکتا الکترونیک,NaN,سید امیر سینا اردکانی,دارد,دارد

In [6]:
invoice.describe()

,شناسه,قرارداد خرید,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,توضیحات
count,1038.000000,0.0,0.0,1.038000e+03,1.038000e+03,1.038000e+03,1.038000e+03,1.038000e+03,0.0,0.0
mean,3107.253372,NaN,NaN,1.511183e+09,1.342177e+08,1.014636e+06,1.644387e+09,1.644387e+09,NaN,NaN
std,1812.274754,NaN,NaN,1.011617e+10,1.012315e+09,1.012261e+07,1.112710e+10,1.112710e+10,NaN,NaN
min,32.000000,NaN,NaN,8.000000e+04,0.000000e+00,0.000000e+00,8.000000e+04,8.000000e+04,NaN,NaN
25%,1733.250000,NaN,NaN,2.357500e+07,0.000000e+00,0.000000e+00,2.380200e+07,2.380200e+07,NaN,NaN
50%,2793.500000,NaN,NaN,9.920000e+07,0.000000e+00,0.000000e+00,9.975000e+07,9.975000e+07,NaN,NaN
75%,4685.750000,NaN,NaN,3.730762e+08,1.025222e+07,0.000000e+00,3.946378e+08,3.946378e+08,NaN,NaN
max,6376.000000,NaN,NaN,2.843940e+11,2.843940e+10,1.930000e+08,3.128334e+11,3.128334e+11,NaN,NaN

In [63]:
print(invoice['شماره'])

#or
# invoice.شماره
type(invoice.شماره)

#if we want to fill a value for columns invoice['شماره'] = ''

0       7D2BE4036
1           SP154
2            1059
3            6898
4             352
          ...
1033         1330
1034        24997
1035         1834
1036         3132
1037        85015
Name: شماره, Length: 1038, dtype: object

pandas.core.series.Series

In [10]:
invoice.iloc[2,:]

شناسه                                    6361
شماره                                    1059
تاریخ                              1404/02/23
نوع سند                                فاکتور
واحد/رمز تامین                     خرید داخلی
وضعیت                               تایید شده
قرارداد خرید                              NaN
ارز                                      ریال
نرخ ارز                                   NaN
مبلغ ناخالص                           1400000
جمع اضافات                                  0
جمع کسور                                    0
مبلغ خالص                             1400000
مبلغ خالص به ارز عملیاتی              1400000
روش تسویه حساب                            NaN
تامین کننده                 کادودیپ الکترونیک
توضیحات                                   NaN
صادر کننده سند                   علیرضا واحدی
اطلاعات حسابداری                        ندارد
سند حسابداری                            ندارد
Name: 2, dtype: object

In [12]:
#filter 
filtered_df = invoice[invoice['مبلغ خالص']> 133000000]
filtered_df

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,تامین کننده,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
0,6376,7D2BE4036,1404/02/24,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,492500000,49250000,0,541750000,541750000,NaN,کامپیوتر فرنود,NaN,علیرضا واحدی,دارد,دارد
4,6358,352,1404/02/22,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,290000000,0,0,290000000,290000000,NaN,پرچ ابزار ایزدی,NaN,علیرضا واحدی,ندارد,ندارد
5,6351,7D2BE23A1,1404/02/23,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,600000000,60000000,0,660000000,660000000,NaN,کامپیوتر فرنود,NaN,علیرضا واحدی,دارد,دارد
6,6328,69C47,1404/02/20,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,26204304510,2620430451,0,28824734961,28824734961,NaN,تهران گالوانیزه برنا,NaN,علیرضا واحدی,دارد,دارد
7,6326,69C31,1404/02/20,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,15581732740,1558173274,0,17139906014,17139906014,NaN,تهران گالوانیزه برنا,NaN,علیرضا واحدی,دارد,دارد
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,129,2912,1403/03/20,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,5736931000,573693100,0,6310624100,6310624100,NaN,تهران کابل پارسیان,NaN,سید امیر سینا اردکانی,دارد,دارد
1021,109,9,1403/03/27,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,182800004,0,0,182800004,182800004,NaN,آلفا پایپ,NaN,سید امیر سینا اردکانی,دارد,دارد
1029,100,2022,1403/03/17,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,185000000,0,0,185000000,185000000,NaN,رادیان صنعت,NaN,سید امیر سینا اردکانی,دارد,دارد
1030,96,10101,1403/03/19,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,3293000000,0,164650000,3128350000,3128350000,NaN,الکترو سبحان,NaN,سید امیر سینا اردکانی,دارد,دارد
1034,36,24997,1403/03/03,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,287500000,0,0,287500000,287500000,NaN,سدن پلاس,NaN,سید امیر سینا اردکانی,دارد,دارد

In [16]:

sorted_invoice = invoice.sort_values("مبلغ خالص",ascending=False)
# invoice.sort_values("مبلغ خالص",ascending=False,inplace=True) inplace=True means have a variable like sorted_invoice,if we don't have a variable , in other parts of the code it doesn't understand our sort

In [17]:
sorted_invoice

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,تامین کننده,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
132,5636,1530405,1403/12/28,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,284394000000,28439400000,0,312833400000,312833400000,NaN,برنا طراح الکترونیک,NaN,سید امیر سینا اردکانی,دارد,دارد
14,6311,69BF4,1404/02/20,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,64627270580,6462727058,0,71089997638,71089997638,NaN,تهران گالوانیزه برنا,NaN,علیرضا واحدی,دارد,دارد
12,6316,69C13,1404/02/20,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,50160293590,5016029359,0,55176322949,55176322949,NaN,تهران گالوانیزه برنا,NaN,علیرضا واحدی,دارد,دارد
134,5582,17627,1403/12/28,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,46756116930,4675611693,0,51431728623,51431728623,NaN,توسعه تجارت سرزمین ماندگارپارس,NaN,علیرضا واحدی,دارد,دارد
520,2792,438,1403/09/11,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,44604439000,4460443900,0,49064882900,49064882900,NaN,کیمیا مس تابان کویر,NaN,علیرضا واحدی,دارد,دارد
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,4474,325196,1403/11/17,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,200000,0,0,200000,200000,NaN,اس جی اس,NaN,علیرضا واحدی,دارد,دارد
544,2722,79223,1403/09/17,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,200000,0,0,200000,200000,NaN,پروژه الکترونیک,NaN,علیرضا واحدی,دارد,دارد
766,1833,10227,1403/07/09,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,200000,0,0,200000,200000,NaN,ارجنت الکترونیک,NaN,علیرضا واحدی,دارد,دارد
483,3053,194,1403/10/01,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,100000,0,0,100000,100000,NaN,شهاب الکترونیک,NaN,علیرضا واحدی,دارد,دارد
882,1049,80,1403/05/11,فاکتور,خرید داخلی,تایید شده,NaN,ریال,NaN,80000,0,0,80000,80000,NaN,کیت الکترونیک,NaN,سید امیر سینا اردکانی,دارد,دارد

In [18]:
#select sth in a middle of data with subset
subset = invoice.loc[2:4,[""'تاریخ',"شماره"]] #str
# s = invoice.iloc[0] index
subset

        تاریخ شماره
2  1404/02/23  1059
3  1404/02/23  6898
4  1404/02/22   352

In [19]:
grouped = invoice.groupby('تامین کننده')
grouped

In [20]:
grouped.count()

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
تامین کننده,,,,,,,,,,,,,,,,,,,
آراد صنعت پگاه نیرو,1,1,1,1,1,1,0,1,0,1,1,1,1,1,0,0,1,1,1
آرام قدرتی,3,3,3,3,3,3,0,3,0,3,3,3,3,3,0,0,3,3,3
آرمان صنعت ایکاد,2,2,2,2,2,2,0,2,0,2,2,2,2,2,0,0,2,2,2
آرمان فراز تابان,1,1,1,1,1,1,0,1,0,1,1,1,1,1,0,0,1,1,1
آریا باکس,1,1,1,1,1,1,0,1,0,1,1,1,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
کیمیا الکترونیک,2,2,2,2,2,2,0,2,0,2,2,2,2,2,0,0,2,2,2
کیمیا مس تابان کویر,3,3,3,3,3,3,0,3,0,3,3,3,3,3,0,0,3,3,3
کیوان مهدوی جلال(فروشگاه دقیق کار),1,1,1,1,1,1,0,1,0,1,1,1,1,1,0,0,1,1,1
گروه بازرگانی مکاکو,1,1,1,1,1,1,0,1,0,1,1,1,1,1,0,0,1,1,1
یکتا الکترونیک,25,25,25,25,25,25,0,25,0,25,25,25,25,25,0,0,25,25,25

In [ ]:
#add a new column
# invoice['شماره Index'] = [1,2,3,4,5,6,...1038]

In [ ]:
#delete a useless column 
# invoice.drop('شماره Index',axis=1,inplace=True)

#if we delete a column it would be empty , so we use reset index
# invoice.reset_index(drop=True, inplace=True)

In [22]:
#add a new row
# invoice.loc[len(df)] = {
#     'a':'b',
#     'date' :'1404/02/13'
# }


invoice.isna()
# invoice.info() 
# invoice.fillna({'':invoice[''].mean()},inplace=True) fill the Nan with mean or sth else

,شناسه,شماره,تاریخ,نوع سند,واحد/رمز تامین,وضعیت,قرارداد خرید,ارز,نرخ ارز,مبلغ ناخالص,جمع اضافات,جمع کسور,مبلغ خالص,مبلغ خالص به ارز عملیاتی,روش تسویه حساب,تامین کننده,توضیحات,صادر کننده سند,اطلاعات حسابداری,سند حسابداری
0,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
1,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
2,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
3,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
4,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
1034,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
1035,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
1036,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False
1037,False,False,False,False,False,False,True,False,True,False,False,False,False,False,True,False,True,False,False,False

In [23]:
df.dropna()
# invoice.fillna(0)

  Name  Age
0    a   20
1    v   19
2    c   17

In [33]:

import numpy as np
x = np.array([[10,12,14],[14,11,13]])
df = pd.DataFrame(x,columns=['math','stats','proba'])
df.index = ['ali','reza']
print(df)

      math  stats  proba
ali     10     12     14
reza    14     11     13

In [40]:
x = np.array([[1414, 11, 13], [10, 12, 14]])
result = np.c_[[10, 20], x]
print(result)
print('*' * 10)
sample,feature = x.shape
print(np.c_[np.ones(sample), x].astype(int))

[[  10 1414   11   13]
 [  20   10   12   14]]
**********
[[   1 1414   11   13]
 [   1   10   12   14]]

In [ ]:
# df.duplicated() find duplicated datas

In [41]:
# df.drop_duplicates() drop duplicated values
# df[''] = pd.to_numeric(df[''],errors = ignore) change type of the data to number
 # if errors = coerce change it to Nan

# invoice['مبلغ خالص'][invoice['مبلغ خالص']>=1000000] = invoice['مبلغ خالص'].median() 

from sklearn.preprocessing import LabelEncoder
data = ['cat', 'dog', 'fish', 'dog', 'cat']
label_encoder = LabelEncoder()
encoded_data = label_encoder.fit_transform(data)
print("Original Data:", data)
print("Encoded Data:", encoded_data)
print("Category Mapping:", dict(zip(data, encoded_data)))

Original Data: ['cat', 'dog', 'fish', 'dog', 'cat']
Encoded Data: [0 1 2 1 0]
Category Mapping: {'cat': np.int64(0), 'dog': np.int64(1), 'fish': np.int64(2)}

In [46]:

#merge is like join in sql
#defult is inner
# pd.merge(x,y,on='',how='inner')
#if the ref column in 2 table has diff Name , we use left_on and right_on

# if we wanna use condition on merge we have to use a variable for that 
# r = pd.merge(x,y,on='',how='inner')
#r[r['']=='']

x = np.array(['Sara', 'FaA', 'DaN'])
n = pd.DataFrame(x, columns=['Name'])  
t = n['Name'].str.lower() 
print(t)

0    sara
1     faa
2     dan
Name: Name, dtype: object

In [55]:

scors = np.array([8,9,12,20,19,1])
print(scors[[0,3]]) #if we want to show index with value we use [[]]
print(scors[3:])
print(scors[-1:])
print(scors[-3:])

[ 8 20]
[20 19  1]
[1]
[20 19  1]

In [61]:
scors = np.array([8,9,12,20,19,1])
print(scors.max())
print('*' * 10)
print(scors.argmax())

20
**********
3

In [9]:
#apply() change sth to what you want
#x.apply(lambda c:c+1)

#def sth():
    #if sths :
        #sthidk
    #else:
        #idk2
#data['']=data[''].apply(sth
# )
# x.values_counts() how many from every values we have

# invoice = pd.read_excel('ListData (4).xlsx',index_col=['تاریخ'])
import pandas as pd 
import numpy  as np
#crosstab 
invoice = pd.read_excel('ListData (4).xlsx')
cross = pd.crosstab(index=invoice['شناسه'],columns=invoice['تامین کننده'],values=invoice['مبلغ خالص'],aggfunc=np.sum)
# cross = pd.crosstab(index=invoice['شناسه'],columns=invoice['تامین کننده'])
cross

C:\Users\taheri\AppData\Local\Temp\ipykernel_9676\1871795153.py:18: FutureWarning: The provided callable <function sum at 0x000001D57E08BB00> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cross = pd.crosstab(index=invoice['شناسه'],columns=invoice['تامین کننده'],values=invoice['مبلغ خالص'],aggfunc=np.sum)

تامین کننده,آراد صنعت پگاه نیرو,آرام قدرتی,آرمان صنعت ایکاد,آرمان فراز تابان,آریا باکس,آقای انصاری(ابزار محسن),آقای تفرشی(فروشگاه وحدت),آقای حسن خانی(فروشگاه شقایق),آقای درودیان(فروشگاه باران),آقای زمانیان(پخش مواد غذایی زمانیان),...,کالای مس کوه بر,کامپیوتر فرنود,کلینیک برق بین الملل,کیان امواج فیدار آسیا,کیت الکترونیک,کیمیا الکترونیک,کیمیا مس تابان کویر,کیوان مهدوی جلال(فروشگاه دقیق کار),گروه بازرگانی مکاکو,یکتا الکترونیک
شناسه,,,,,,,,,,,,,,,,,,,,,
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68250000.0
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,541750000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:

#pivot 
# pivot_test = pd.pivot_table(data=invoice,index=['']) defult = mean() if we don't write aggfunc